body {
    background-image: url(../images/game-over.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

#use-me{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
}
